<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
				         http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
				         http://www.springframework.org/schema/context
				         http://www.springframework.org/schema/context/spring-context-3.0.xsd
				         http://www.springframework.org/schema/tx
				         http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
				         http://www.springframework.org/schema/aop 
				         http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">

	<!-- 启用注解注入 -->
	<context:annotation-config />
	<!-- 启用组件扫描 -->
	<context:component-scan base-package="com.cqupt.dormitory" />

	<!-- 配置数据库连接池 -->
	<bean id="dataSource" class="org.logicalcobwebs.proxool.ProxoolDataSource"  > 
		<property name="driver">
			<value>com.mysql.jdbc.Driver</value>
		</property>
		<property name="driverUrl">
			<value>jdbc:mysql://172.22.4.128:3306/dormitory</value>
			<!-- <value>jdbc:mysql://localhost:3306/dormitory</value>--> 
		</property>
		<property name="user" value="dormitory" />
		<property name="password" value="123" />
		<property name="alias" value="Pool_dbname" />
		<property name="maximumActiveTime" value="300000" />
		<property name="prototypeCount" value="3" />
		<property name="maximumConnectionCount" value="40" />
		<property name="minimumConnectionCount" value="13" />
		<property name="simultaneousBuildThrottle" value="50" />
		<property name="houseKeepingTestSql" value="select CURRENT_DATE" />
	</bean>


	<!-- 创建SqlSessionFactory，同时指定数据源 -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean" >
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation" value="classpath:config/sqlMapConfig.xml" />
		<property name="mapperLocations" value="classpath*:com/cqupt/dormitory/dao/impl/*.xml" />
		<property name="configurationProperties">  
	        <props>  
	            <prop key="cacheEnabled">true</prop>  
	            <prop key="callSettersOnNulls">true</prop>  
	        </props>  
    	</property>
    	
    	<!-- 分页sql拼装 拦截器 -->
    	<property name="plugins">
    		<ref bean="pagingSqlInterceptor"/>
    	</property>
	</bean>

	<bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate" scope="prototype">  
        <constructor-arg ref="sqlSessionFactory" />  
	</bean>  


	<!-- 事务相关控制 -->
	<bean name="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>


	<!--配置事务的传播特性 -->
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="del*" propagation="REQUIRED" />
			<tx:method name="update*" propagation="REQUIRED"/>
			<tx:method name="add*" propagation="REQUIRED" />
			<tx:method name="find*" propagation="REQUIRED" />
			<tx:method name="*" read-only="true" />
		</tx:attributes>
	</tx:advice>

	<aop:config>
		<aop:pointcut id="allMethod" expression="execution(* com.cqupt.dormitory.service.*.*(..))" />
		<aop:advisor pointcut-ref="allMethod" advice-ref="txAdvice" />
	</aop:config>

</beans>