@charset "utf-8";
/*
Author：baozi
Date：2014.9.20
*/
.find{
	width:500px;
	float:left;
	margin:2px;
	border:0;
}
.select{
	width:120px;
	border: 1px solid #ccc;
}

a{
	text-decoration:none;
}